body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #005C97;
  background: -webkit-linear-gradient(to left, #363795, #005C97);
  background: linear-gradient(to left, #363795, #005C97);
}

* {
  font-family: 'Roboto Mono', monospace;
}